{% comment %}
collection: site collection name
filter : tag to filter by
limit: item count
items: collection items
{% endcomment %}


{% if include.collection %}
{% assign collectionItems = site[include.collection] %}
{% endif %}

{% assign items = "" | split: "" %}

{% if include.items %}
{% for item in include.items %}
{% assign siteItem = collectionItems | where:"url", item.url | first %}
{% if siteItem and siteItem.url %}
{% assign items = items | push: siteItem %}
{% else %}
{% assign items = items | push: item %}
{% endif %}
{% endfor %}
{% else %}
{% assign items = collectionItems %}
{% endif %}

{% if include.filter %}
{% assign items = items | where_exp:"item",include.filter %}
{% endif %}


<div class="page-list">
	<ul>
		{% for item in items %}
		<li><a href="{{item.url}}">{{item.title}}</a></li>
		{% endfor %}
	</ul>
</div>
